---
swagger: "2.0"
info:
  description: This is the API for Equinix Metal Product. Interact with your devices, user account, and projects.
  version: 1.0.0
  title: Metal API
  termsOfService: https://metal.equinix.com/legal/
  contact:
    name: Equinix Metal API Team
    email: support@equinixmetal.com
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
host: api.equinix.com
basePath: /metal/v1
tags:
- name: Batches
  description: Manage device batches. See project endpoints to list batches for a particular project. Check out the product docs to learn more about [Batch Deployment](https://metal.equinix.com/developers/docs/deploy/batch-deployment/).
- name: BGP
  description: Manage BGP configs and sessions. See device endpoints to create and list BGP sessions for a particular device. Check out the product docs to learn more about [Local and Global BGP](https://metal.equinix.com/developers/docs/networking/local-global-bgp/).
- name: Capacity
  description: Capacity Management. Check out the product docs to learn more about [Capacity](https://metal.equinix.com/developers/docs/locations/capacity/).
- name: Connections
  description: Network Interconnections. See Instructions to create Network Interconnections at Check out the product docs to learn more about [Equinix Fabric](https://metal.equinix.com/developers/docs/networking/fabric/).
- name: Devices
  description: Device Management. Check out the product docs to learn more about [Server Devices](https://metal.equinix.com/developers/docs/servers/).
- name: Emails
  description: Email Management
- name: Events
  description: Event Management
- name: Facilities
  description: Facility Management. Check out the product docs to learn more about [Facilities](https://metal.equinix.com/developers/docs/locations/).
- name: HardwareReservations
  description: Hardware Reservation Management. Check out the product docs to learn more about [Reserved Hardware](https://metal.equinix.com/developers/docs/deploy/reserved/).
- name: Invitations
  description: Manage invitations. See project endpoints to create a new invitation. Check out the product docs to learn more about [Invitations](https://metal.equinix.com/developers/docs/accounts/).
- name: IPAddresses
  description: Manage IP addresses. See device and project endpoints to list and create IP assignments for a particular project or device. Check out the product docs to learn more about [the basic networking features](https://metal.equinix.com/developers/docs/networking/standard-ips/).
- name: Licenses
  description: Manage licenses. See project endpoints to list and create licenses for a particular project.
- name: Memberships
  description: Membership Management (Project). Check out the product docs to learn more about [Membership](https://metal.equinix.com/developers/docs/accounts/).
- name: OperatingSystems
  description: Operating System Management. Check out the product docs to learn more about [Operating Systems choices](https://metal.equinix.com/developers/docs/operating-systems/).
- name: Organizations
  description: Organizations Management. Check out the product docs to learn more about [Organizations](https://metal.equinix.com/developers/docs/accounts/).
- name: Otps
  description: Otps ManagementCheck out the product docs to learn more about [OTP](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).
- name: PaymentMethods
  description: Payment Method Management
- name: Plans
  description: Plan Management (Device). Check out the product docs to learn more about [Device Plans](https://metal.equinix.com/developers/docs/servers/).
- name: Ports
  description: Port ManagementCheck out the product docs to learn more about [Port configurations](https://metal.equinix.com/developers/docs/networking/layer2/).
- name: Projects
  description: Project Management. Check out the product docs to learn more about [Projects](https://metal.equinix.com/developers/docs/accounts/).
- name: Regions
  description: Regions Listing
- name: Market
  description: Spot Market Prices Management. Check out the product docs to learn more about [Spot Market features](https://metal.equinix.com/developers/docs/deploy/spot-market/).
- name: SpotMarketRequest
  description: Spot Market Requests Management. Check out the product docs to learn more about [Spot Market features](https://metal.equinix.com/developers/docs/deploy/spot-market/).
- name: SSHKeys
  description: Manage SSH keys. See project endpoints to list and create project-level SSH keys.
- name: TransferRequests
  description: Project Transfer Requests Management
- name: TwoFactorAuth
  description: Two Factor Authentication Management. Check out the product docs to learn more about [2FA](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).
- name: Usages
  description: Usage Management
- name: Userdata
  description: Userdata Management
- name: Users
  description: User Management
- name: UserVerificationTokens
  description: User Verification Token Management
- name: VLANs
  description: Manage virtual networks (VLANs). See project endpoints to list and create virtual networks. Check out the product docs to learn more about [VLANs](https://metal.equinix.com/developers/docs/networking/layer2/).
- name: Volumes
  description: 'Volume Management (Block Storage). '
- name: VPN
  description: VPN Management. Check out the product docs to learn more about [Doorman VPN](https://metal.equinix.com/developers/docs/networking/features/).
consumes:
- application/json
produces:
- application/json
security:
- x_auth_token: []
paths:
  /projects/{id}/batches:
    get:
      tags:
      - Projects
      - Batches
      summary: Retrieve all batches by project
      description: Returns all batches for the given project
      operationId: findBatchesByProject
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/BatchesList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /batches/{id}:
    get:
      tags:
      - Batches
      summary: Retrieve a Batch
      description: Returns a Batch
      operationId: findBatchById
      parameters:
      - name: id
        in: path
        description: Batch UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Batch'
        "401":
          description: unauthorized
        "404":
          description: not found
    delete:
      tags:
      - Batches
      summary: Delete the Batch
      description: Deletes the Batch.
      operationId: deleteBatch
      parameters:
      - name: id
        in: path
        description: Batch UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: remove_associated_instances
        description: Default route
        required: true
        schema:
          type: boolean
      responses:
        "204":
          description: no content
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{id}/bgp-configs:
    post:
      tags:
      - Projects
      - BGP
      summary: Requesting bgp config
      description: Requests to enable bgp configuration for a project.
      operationId: requestBgpConfig
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: bgp_config_request
        description: BGP config Request to create
        required: true
        schema:
          $ref: '#/definitions/BgpConfigRequestInput'
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /projects/{id}/bgp-config:
    get:
      tags:
      - Projects
      - BGP
      summary: Retrieve a bgp config
      description: Returns a bgp config
      operationId: findBgpConfigByProject
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: |
            ok

            When BGP configuration is not enabled empty structure is returned.
            When BGP configuration is disabled after being enabled BGP configuration data is returned with status disabled.
          schema:
            $ref: '#/definitions/BgpConfig'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: |
            not found

            The project was not found.
  /devices/{id}/bgp/neighbors:
    get:
      tags:
      - Devices
      - BGP
      summary: Retrieve BGP neighbor data for this device
      description: Provides a summary of the BGP neighbor data associated to the BGP sessions for this device.
      operationId: getBgpNeighborData
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/BgpSessionNeighbors'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{id}/bgp/sessions:
    get:
      tags:
      - Projects
      - BGP
      summary: Retrieve all BGP sessions for project
      description: Provides a listing of available BGP sessions for the project.
      operationId: findProjectBgpSessions
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/BgpSessionList'
        "401":
          description: unauthorized
        "404":
          description: not found
  /devices/{id}/bgp/sessions:
    get:
      tags:
      - Devices
      - BGP
      summary: Retrieve all BGP sessions
      description: Provides a listing of available BGP sessions for the device.
      operationId: findBgpSessions
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/BgpSessionList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
    post:
      tags:
      - Devices
      - BGP
      summary: Create a BGP session
      description: Creates a BGP session.
      operationId: createBgpSession
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: bgp_session
        description: BGP session to create
        required: true
        schema:
          $ref: '#/definitions/BGPSessionInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/BgpSession'
        "201":
          description: created
          schema:
            $ref: '#/definitions/BgpSession'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "422":
          description: unprocessable entity
  /bgp/sessions/{id}:
    get:
      tags:
      - BGP
      summary: Retrieve a BGP session
      description: Returns a BGP session
      operationId: findBgpSessionById
      parameters:
      - name: id
        in: path
        description: BGP session UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/BgpSession'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    put:
      tags:
      - BGP
      summary: Update the BGP session
      description: Updates the BGP session by either enabling or disabling the default route functionality.
      operationId: updateBgpSession
      parameters:
      - name: id
        in: path
        description: BGP session UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: default_route
        description: Default route
        required: true
        schema:
          type: boolean
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
    delete:
      tags:
      - BGP
      summary: Delete the BGP session
      description: Deletes the BGP session.
      operationId: deleteBgpSession
      parameters:
      - name: id
        in: path
        description: BGP session UUID
        required: true
        type: string
        format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /capacity:
    get:
      tags:
      - Capacity
      summary: View capacity
      description: Returns a list of facilities and plans with their current capacity.
      operationId: findCapacity
      parameters: []
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/CapacityList'
        "401":
          description: unauthorized
    post:
      tags:
      - Capacity
      summary: Check capacity
      description: |-
        Validates if a deploy can be fulfilled.

        Response:
        ```
        "servers": [
            { "available": true, ... },
            { "available": false, ... }
        ]
        ```
      operationId: checkCapacity
      parameters:
      - in: body
        name: facility
        description: Facility to create
        required: true
        schema:
          $ref: '#/definitions/CapacityInput'
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "422":
          description: unprocessable entity
  /emails:
    post:
      tags:
      - Emails
      summary: Create an email
      description: Add a new email address to the current user.
      operationId: createEmail
      parameters:
      - in: body
        name: email
        description: Email to create
        required: true
        schema:
          $ref: '#/definitions/CreateEmailInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/Email'
        "401":
          description: unauthorized
        "422":
          description: unprocessable entity
  /emails/{id}:
    get:
      tags:
      - Emails
      summary: Retrieve an email
      description: Provides one of the user’s emails.
      operationId: findEmailById
      parameters:
      - name: id
        in: path
        description: Email UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Email'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    put:
      tags:
      - Emails
      summary: Update the email
      description: Updates the email.
      operationId: updateEmail
      parameters:
      - name: id
        in: path
        description: Email UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: email
        description: email to update
        required: true
        schema:
          $ref: '#/definitions/UpdateEmailInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Email'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
    delete:
      tags:
      - Emails
      summary: Delete the email
      description: Deletes the email.
      operationId: deleteEmail
      parameters:
      - name: id
        in: path
        description: Email UUID
        required: true
        type: string
        format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /devices/{id}/events:
    get:
      tags:
      - Events
      - Devices
      summary: Retrieve device's events
      description: Returns a list of events pertaining to a specific device
      operationId: findDeviceEvents
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/EventList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /organizations/{id}/events:
    get:
      tags:
      - Events
      - Organizations
      summary: Retrieve organization's events
      description: Returns a list of events for a single organization
      operationId: findOrganizationEvents
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/EventList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{id}/events:
    get:
      tags:
      - Events
      - Projects
      summary: Retrieve project's events
      description: Returns a list of events for a single project
      operationId: findProjectEvents
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/EventList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /volumes/{id}/events:
    get:
      tags:
      - Events
      - Volumes
      summary: Retrieve volume's events
      description: Returns a list of the current volume’s events
      operationId: findVolumeEvents
      parameters:
      - name: id
        in: path
        description: Volume UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/EventList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /events:
    get:
      tags:
      - Events
      summary: Retrieve current user's events
      description: Returns a list of the current user’s events
      operationId: findEvents
      parameters:
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/EventList'
        "401":
          description: unauthorized
  /events/{id}:
    get:
      tags:
      - Events
      summary: Retrieve an event
      description: Returns a single event if the user has access
      operationId: findEventById
      parameters:
      - name: id
        in: path
        description: Event UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Event'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /connections/{id}/events:
    get:
      tags:
      - Events
      - Connections
      summary: Retrieve connection events
      description: Returns a list of the connection events
      operationId: findConnectionEvents
      parameters:
      - name: id
        in: path
        description: Connection UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Event'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /connections/{id}/ports/{portId}/events:
    get:
      tags:
      - Events
      - Connections
      summary: Retrieve connection port events
      description: Returns a list of the connection port events
      operationId: findConnectionPortEvents
      parameters:
      - name: id
        in: path
        description: Connection UUID
        required: true
        type: string
        format: uuid
      - name: portId
        in: path
        description: Connection Port UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Event'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /virtual-circuit/{id}/events:
    get:
      tags:
      - Events
      - Connections
      summary: Retrieve connection events
      description: Returns a list of the virtual circuit events
      operationId: findVirtualCircuitEvents
      parameters:
      - name: id
        in: path
        description: Virtual Circuit UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Event'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /facilities:
    get:
      tags:
      - Facilities
      summary: Retrieve all facilities
      description: Provides a listing of available datacenters where you can provision Packet devices.
      operationId: findFacilities
      parameters: []
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/FacilityList'
        "401":
          description: unauthorized
  /projects/{id}/facilities:
    get:
      tags:
      - Facilities
      - Projects
      summary: Retrieve all facilities visible by the project
      description: Returns a listing of available datacenters for the given project
      operationId: findFacilitiesByProject
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/FacilityList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /organizations/{id}/facilities:
    get:
      tags:
      - Facilities
      - Organizations
      summary: Retrieve all facilities visible by the organization
      description: Returns a listing of available datacenters for the given organization
      operationId: findFacilitiesByOrganization
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/FacilityList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{id}/hardware-reservations:
    get:
      tags:
      - Projects
      - HardwareReservations
      summary: Retrieve all hardware reservations for a given project
      description: Provides a collection of hardware reservations for a given project.
      operationId: findProjectHardwareReservations
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/HardwareReservationList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /hardware-reservations/{id}:
    get:
      tags:
      - HardwareReservations
      summary: Retrieve a hardware reservation
      description: Returns a single hardware reservation
      operationId: findHardwareReservationById
      parameters:
      - name: id
        in: path
        description: HardwareReservation UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Device'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /incidents:
    get:
      tags:
      - incidents
      summary: Retrieve the number of incidents
      description: Retrieve the number of incidents.
      parameters:
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
  /devices/{id}/actions:
    post:
      tags:
      - Devices
      summary: Perform an action
      description: 'Performs an action for the given device.  Possible actions include: power_on, power_off, reboot, reinstall, and rescue (reboot the device into rescue OS.)'
      operationId: performAction
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      - name: type
        in: query
        description: Action to perform
        required: true
        type: string
        enum:
        - power_on
        - power_off
        - reboot
        - rescue
        - reinstall
      responses:
        "202":
          description: accepted
        "401":
          description: unauthorized
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /organizations/{id}/devices:
    get:
      tags:
      - Organizations
      - Devices
      summary: Retrieve all devices of an organization
      description: Provides a collection of devices for a given organization.
      operationId: findOrganizationDevices
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/DeviceList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{id}/devices:
    get:
      tags:
      - Projects
      - Devices
      summary: Retrieve all devices of a project
      description: Provides a collection of devices for a given project.
      operationId: findProjectDevices
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/DeviceList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    post:
      tags:
      - Projects
      - Devices
      summary: Create a device
      description: |
        Creates a new device and provisions it in our datacenter.

        Type-specific options (such as operating_system for baremetal devices) should be included in the main data structure alongside hostname and plan.

        The features attribute allows you to optionally specify what features your server should have.

        For example, if you require a server with a TPM chip, you may specify `{ "features": { "tpm": "required" } }` (or `{ "features": ["tpm"] }` in shorthand).

        The request will fail if there are no available servers matching your criteria. Alternatively, if you do not require a certain feature, but would prefer to be assigned a server with that feature if there are any available, you may specify that feature with a preferred value (see the example request below).

        The request will not fail if we have no servers with that feature in our inventory.

        The facilities attribute specifies in what datacenter you wish to create the device.

        You can either specify a single facility `{ "facility": "f1" }` , or you can instruct to create the device in the best available datacenter `{ "facility": "any" }`. Additionally it is possible to set a prioritized location selection.

        For example `{ "facility": ["f3", "f2", "any"] }` will try to assign to the facility f3, if there are no available f2, and so on. If "any" is not specified for "facility", the request will fail unless it can assign in the selected locations.

        The `ip_addresses attribute will allow you to specify the addresses you want created with your device.

        To maintain backwards compatibility, If the attribute is not sent in the request, it will be treated as if `{ "ip_addresses": [{ "address_family": 4, "public": true }, { "address_family": 4, "public": false }, { "address_family": 6, "public": true }] }` was sent.

        The private IPv4 address is required and always need to be sent in the array. Not all operating systems support no public IPv4 address, so in those cases you will receive an error message.

        For example, to only configure your server with a private IPv4 address, you can send `{ "ip_addresses": [{ "address_family": 4, "public": false }] }`.

        Note: when specifying a subnet size larger than a /30, you will need to supply the UUID(s) of existing ip_reservations in your project to assign IPs from.

        For example, `{ "ip_addresses": [..., {"address_family": 4, "public": true, "ip_reservations": ["uuid1", "uuid2"]}] }`

        To access a server without public IPs, you can use our Out-of-Band console access (SOS) or use another server with public IPs as a proxy.
      operationId: createDevice
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: device
        description: Device to create
        required: true
        schema:
          $ref: '#/definitions/DeviceCreateInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/Device'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /devices/{id}:
    get:
      tags:
      - Devices
      summary: Retrieve a device
      description: |-
        Type-specific options (such as facility for baremetal devices) will be included as part of the main data structure.
                                 State value can be one of: active inactive queued or provisioning
      operationId: findDeviceById
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Device'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    put:
      tags:
      - Devices
      summary: Update the device
      description: Updates the device.
      operationId: updateDevice
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: device
        description: Facility to update
        required: true
        schema:
          $ref: '#/definitions/DeviceUpdateInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Device'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
    delete:
      tags:
      - Devices
      summary: Delete the device
      description: Deletes a device and deprovisions it in our datacenter.
      operationId: deleteDevice
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      - name: force_delete
        in: query
        description: Force the deletion of the device, by detaching any storage volume still active.
        required: false
        type: boolean
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{id}/devices/batch:
    post:
      tags:
      - Devices
      - Batches
      summary: Create a devices batch
      description: |-
        Creates new devices in batch and provisions them in our datacenter.

        Type-specific options (such as operating_system for baremetal devices) should be included in the main data structure alongside hostname and plan.

        The features attribute allows you to optionally specify what features your server should have.

        For example, if you require a server with a TPM chip, you may specify `{ "features": { "tpm": "required" } }` (or `{ "features": ["tpm"] }` in shorthand).

        The request will fail if there are no available servers matching your criteria. Alternatively, if you do not require a certain feature, but would prefer to be assigned a server with that feature if there are any available, you may specify that feature with a preferred value (see the example request below).

        The request will not fail if we have no servers with that feature in our inventory.

        The facilities attribute specifies in what datacenter you wish to create the device.

        You can either specify a single facility `{ "facility": "f1" }` , or you can instruct to create the device in the best available datacenter `{ "facility": "any" }`. Additionally it is possible to set a prioritized location selection.

        For example `{ "facility": ["f3", "f2", "any"] }` will try to assign to the facility f3, if there are no available f2, and so on. If "any" is not specified for "facility", the request will fail unless it can assign in the selected locations.

        With `{ "facility": "any" }` you have the option to diversify to indicate how many facilities you are willing to be spread across. For this purpose use parameter: `facility_diversity_level = N`.

        For example:

        `{ "facilities": ["sjc1", "ewr1", "any"] ,  "facility_diversity_level" = 1, "quantity" = 10 }` will assign 10 devices into the same facility, trying first in "sjc1", and if there aren’t available, it will try in  "ewr1", otherwise any other.

        The `ip_addresses` attribute will allow you to specify the addresses you want created with your device.

        To maintain backwards compatibility, If the attribute is not sent in the request, it will be treated as if `{ "ip_addresses": [{ "address_family": 4, "public": true }, { "address_family": 4, "public": false }, { "address_family": 6, "public": true }] }` was sent.

        The private IPv4 address is required and always need to be sent in the array. Not all operating systems support no public IPv4 address, so in those cases you will receive an error message.

        For example, to only configure your server with a private IPv4 address, you can send `{ "ip_addresses": [{ "address_family": 4, "public": false }] }`.

        Note: when specifying a subnet size larger than a /30, you will need to supply the UUID(s) of existing ip_reservations in your project to assign IPs from.

        For example, `{ "ip_addresses": [..., {"address_family": 4, "public": true, "ip_reservations": ["uuid1", "uuid2"]}] }`

        To access a server without public IPs, you can use our Out-of-Band console access (SOS) or use another server with public IPs as a proxy.
      operationId: createDeviceBatch
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: batch
        description: Batches to create
        required: true
        schema:
          $ref: '#/definitions/InstancesBatchCreateInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/BatchesList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /devices/{id}/bandwidth:
    get:
      tags:
      - Devices
      summary: Retrieve an instance bandwidth
      description: Retrieve an instance bandwidth for a given period of time.
      operationId: findInstanceBandwidth
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      - name: from
        in: query
        description: Timestamp from range
        required: true
        type: string
      - name: until
        in: query
        description: Timestamp to range
        required: true
        type: string
      responses:
        "200":
          description: ok
        "403":
          description: forbidden
        "404":
          description: not found
  /organizations/{organization_id}/connections:
    get:
      tags:
      - Connections
      summary: List organization connections
      description: List the connections belonging to the organization
      operationId: organizationListInterconnections
      parameters:
      - name: organization_id
        in: path
        description: UUID of the organization
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/InterconnectionList'
        "403":
          description: forbidden
        "404":
          description: not found
    post:
      tags:
      - Connections
      summary: Request a new connection for the organization
      description: Creates a new connection request. A Project ID must be specified in the request body for connections on shared ports.
      operationId: createOrganizationInterconnection
      parameters:
      - name: organization_id
        in: path
        description: UUID of the organization
        required: true
        type: string
        format: uuid
      - in: body
        name: connection
        description: Connection details
        required: true
        schema:
          $ref: '#/definitions/InterconnectionCreateInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/Interconnection'
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{project_id}/connections:
    get:
      tags:
      - Connections
      summary: List project connections
      description: List the connections belonging to the project
      operationId: projectListInterconnections
      parameters:
      - name: project_id
        in: path
        description: UUID of the project
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/InterconnectionList'
        "403":
          description: forbidden
        "404":
          description: not found
    post:
      tags:
      - Connections
      summary: Request a new connection for the project's organization
      description: Creates a new connection request
      operationId: createProjectInterconnection
      parameters:
      - name: project_id
        in: path
        description: UUID of the project
        required: true
        type: string
        format: uuid
      - in: body
        name: connection
        description: Connection details
        required: true
        schema:
          $ref: '#/definitions/InterconnectionCreateInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/Interconnection'
        "403":
          description: forbidden
  /connections/{id}:
    get:
      tags:
      - Connections
      summary: Get connection
      description: Get the details of a connection
      operationId: getInterconnection
      parameters:
      - name: id
        in: path
        description: Connection UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Interconnection'
        "403":
          description: forbidden
        "404":
          description: not found
    put:
      tags:
      - Connections
      summary: Update connection
      description: Update the details of a connection
      operationId: updateInterconnection
      parameters:
      - name: id
        in: path
        description: Connection UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: connection
        description: Updated connection details
        required: true
        schema:
          $ref: '#/definitions/InterconnectionUpdateInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Interconnection'
        "403":
          description: forbidden
        "404":
          description: not found
    delete:
      tags:
      - Connections
      summary: Delete connection
      description: Delete a connection, its associated ports and virtual circuits.
      operationId: deleteInterconnection
      parameters:
      - name: id
        in: path
        description: Connection UUID
        required: true
        type: string
        format: uuid
      responses:
        "202":
          description: accepted
          schema:
            $ref: '#/definitions/Interconnection'
        "403":
          description: forbidden
        "404":
          description: not found
  /connections/{connection_id}/ports:
    get:
      tags:
      - Connections
      summary: List a connection's ports
      description: List the ports associated to an connection.
      operationId: listConnectionPorts
      parameters:
      - name: connection_id
        in: path
        description: UUID of the connection
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/InterconnectionPortList'
        "403":
          description: forbidden
        "404":
          description: not found
  /connections/{connection_id}/ports/{id}:
    get:
      tags:
      - Connections
      summary: Get a connection port
      description: Get the details of an connection port.
      operationId: getConnectionPort
      parameters:
      - name: connection_id
        in: path
        description: UUID of the connection
        required: true
        type: string
        format: uuid
      - name: id
        in: path
        description: Port UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/InterconnectionPort'
        "403":
          description: forbidden
        "404":
          description: not found
  /connections/{connection_id}/ports/{port_id}/virtual-circuits:
    get:
      tags:
      - Connections
      summary: List a connection port's virtual circuits
      description: List the virtual circuit record(s) associatiated with a particular connection port.
      operationId: listConnectionPortVirtualCircuits
      parameters:
      - name: connection_id
        in: path
        description: UUID of the connection
        required: true
        type: string
        format: uuid
      - name: port_id
        in: path
        description: UUID of the connection port
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/VirtualCircuitList'
        "403":
          description: forbidden
        "404":
          description: not found
    post:
      tags:
      - Connections
      summary: Create a new Virtual Circuit
      description: Create a new Virtual Circuit on a dedicated connection using a Virtual Network record and an NNI VLAN value.
      operationId: createConnectionPortVirtualCircuit
      parameters:
      - name: connection_id
        in: path
        description: UUID of the connection
        required: true
        type: string
        format: uuid
      - name: port_id
        in: path
        description: UUID of the connection port
        required: true
        type: string
        format: uuid
      - in: body
        name: virtual_circuit
        description: Virtual Circuit details
        required: true
        schema:
          $ref: '#/definitions/VirtualCircuitCreateInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/VirtualCircuitList'
        "403":
          description: forbidden
        "404":
          description: not found
  /virtual-circuits/{id}:
    get:
      tags:
      - Connections
      summary: Get a virtual circuit
      description: Get the details of a virtual circuit
      operationId: getVirtualCircuit
      parameters:
      - name: id
        in: path
        description: Virtual Circuit UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/VirtualCircuit'
        "403":
          description: forbidden
        "404":
          description: not found
    put:
      tags:
      - Connections
      summary: Update a virtual circuit
      description: Update the details of a virtual circuit.
      operationId: updateVirtualCircuit
      parameters:
      - name: id
        in: path
        description: Virtual Circuit UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: virtual_circuit
        description: Updated Virtual Circuit details
        required: true
        schema:
          $ref: '#/definitions/VirtualCircuitUpdateInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/VirtualCircuit'
        "202":
          description: accepted
          schema:
            $ref: '#/definitions/VirtualCircuit'
        "403":
          description: forbidden
        "404":
          description: not found
    delete:
      tags:
      - Connections
      summary: Delete a virtual circuit
      description: Delete a virtual circuit from a dedicated port.
      operationId: deleteVirtualCircuit
      parameters:
      - name: id
        in: path
        description: Virtual Circuit UUID
        required: true
        type: string
        format: uuid
      responses:
        "202":
          description: accepted
          schema:
            $ref: '#/definitions/VirtualCircuit'
        "403":
          description: forbidden
        "404":
          description: not found
  /virtual-networks/{id}/internet-gateways:
    post:
      tags:
      - InternetGateways
      - VLANs
      summary: Create an internet gateway
      description: Creates an internet gateway.
      operationId: createInternetGateway
      parameters:
      - name: id
        in: path
        description: Virtual Network UUID
        required: true
        type: string
        format: uuid
      - name: length
        in: query
        description: IP Reservation length
        required: true
        type: string
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/InternetGateway'
        "401":
          description: unauthorized
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /invitations/{id}:
    get:
      tags:
      - Invitations
      summary: View an invitation
      description: Returns a single invitation. (It include the `invitable` to maintain backward compatibility but will be removed soon)
      operationId: findInvitationById
      parameters:
      - name: id
        in: path
        description: Invitation UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Invitation'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    put:
      tags:
      - Invitations
      summary: Accept an invitation
      description: Accept an invitation.
      operationId: acceptInvitation
      parameters:
      - name: id
        in: path
        description: Invitation UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Membership'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    delete:
      tags:
      - Invitations
      summary: Decline an invitation
      description: Decline an invitation.
      operationId: declineInvitation
      parameters:
      - name: id
        in: path
        description: Invitation UUID
        required: true
        type: string
        format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{project_id}/invitations:
    get:
      tags:
      - Invitations
      - Projects
      summary: Retrieve project invitations
      description: Returns all invitations in a project.
      operationId: findProjectInvitations
      parameters:
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      - name: project_id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/InvitationList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    post:
      tags:
      - Invitations
      - Projects
      summary: Create an invitation for a project
      description: In order to add a user to a project, they must first be invited.
      operationId: createProjectInvitation
      parameters:
      - name: project_id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: invitation
        description: Invitation to create
        required: true
        schema:
          $ref: '#/definitions/InvitationInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/Invitation'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /organizations/{id}/invitations:
    get:
      tags:
      - Invitations
      - Organizations
      summary: Retrieve organization invitations
      description: Returns all invitations in an organization.
      operationId: findOrganizationInvitations
      parameters:
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/InvitationList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    post:
      tags:
      - Invitations
      - Organizations
      summary: Create an invitation for an organization
      description: |-
        In order to add a user to an organization, they must first be invited.
        To invite to several projects the parameter `projects_ids:[a,b,c]` can be used
      operationId: createOrganizationInvitation
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: invitation
        description: Invitation to create
        required: true
        schema:
          $ref: '#/definitions/InvitationInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/Invitation'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /invitations:
    get:
      tags:
      - Invitations
      - Users
      summary: Retrieve current user invitations
      description: Returns all invitations in current user.
      operationId: findInvitations
      parameters:
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/InvitationList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /ips/{id}:
    get:
      tags:
      - IPAddresses
      summary: Retrieve an ip address
      description: Returns a single ip address if the user has access.
      operationId: findIPAddressById
      parameters:
      - name: id
        in: path
        description: IP Address UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/IPAssignment'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    delete:
      tags:
      - IPAddresses
      summary: Unassign an ip address
      description: Note! This call can be used to un-assign an IP assignment or delete an IP reservation. Un-assign an IP address record. Use the assignment UUID you get after attaching the IP. This will remove the relationship between an IP and the device and will make the IP address available to be assigned to another device. Delete and IP reservation. Use the reservation UUID you get after adding the IP to the project. This will permanently delete the IP block reservation from the project.
      operationId: deleteIPAddress
      parameters:
      - name: id
        in: path
        description: IP Address UUID
        required: true
        type: string
        format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /devices/{id}/ips:
    get:
      tags:
      - Devices
      - IPAddresses
      summary: Retrieve all ip assignments
      description: Returns all ip assignments for a device.
      operationId: findIPAssignments
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/IPAssignmentList'
        "401":
          description: unauthorized
        "404":
          description: not found
    post:
      tags:
      - Devices
      - IPAddresses
      summary: Create a ip assignment
      description: Creates an ip assignment for a device.
      operationId: createIPAssignment
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: ip_assignment
        description: IPAssignment to create
        required: true
        schema:
          $ref: '#/definitions/IPAssignmentInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/IPAssignment'
        "401":
          description: unauthorized
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /ips/{id}/available:
    get:
      tags:
      - IPAddresses
      summary: Retrieve all available subnets of a particular reservation
      description: Provides a list of IP resevations for a single project.
      operationId: findIPAvailabilities
      parameters:
      - name: id
        in: path
        description: IP Reservation UUID
        required: true
        type: string
        format: uuid
      - name: cidr
        in: query
        description: Size of subnets in bits
        required: true
        type: string
        enum:
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
        - "32"
        - "33"
        - "34"
        - "35"
        - "36"
        - "37"
        - "38"
        - "39"
        - "40"
        - "41"
        - "42"
        - "43"
        - "44"
        - "45"
        - "46"
        - "47"
        - "48"
        - "49"
        - "50"
        - "51"
        - "52"
        - "53"
        - "54"
        - "55"
        - "56"
        - "57"
        - "58"
        - "59"
        - "60"
        - "61"
        - "62"
        - "63"
        - "64"
        - "65"
        - "66"
        - "67"
        - "68"
        - "69"
        - "70"
        - "71"
        - "72"
        - "73"
        - "74"
        - "75"
        - "76"
        - "77"
        - "78"
        - "79"
        - "80"
        - "81"
        - "82"
        - "83"
        - "84"
        - "85"
        - "86"
        - "87"
        - "88"
        - "89"
        - "90"
        - "91"
        - "92"
        - "93"
        - "94"
        - "95"
        - "96"
        - "97"
        - "98"
        - "99"
        - "100"
        - "101"
        - "102"
        - "103"
        - "104"
        - "105"
        - "106"
        - "107"
        - "108"
        - "109"
        - "110"
        - "111"
        - "112"
        - "113"
        - "114"
        - "115"
        - "116"
        - "117"
        - "118"
        - "119"
        - "120"
        - "121"
        - "122"
        - "123"
        - "124"
        - "125"
        - "126"
        - "127"
        - "128"
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/IPAvailabilitiesList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{id}/ips:
    get:
      tags:
      - Projects
      - IPAddresses
      summary: Retrieve all ip reservations
      description: Provides a list of IP resevations for a single project.
      operationId: findIPReservations
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/IPReservationList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    post:
      tags:
      - Projects
      - IPAddresses
      summary: Requesting IP reservations
      description: Request more IP space for a project in order to have additional IP addresses to assign to devices.  If the request is within the max quota, an IP reservation will be created. If the project will exceed its IP quota, a request will be submitted for review, and will return an IP Reservation with a `state` of `pending`. You can automatically have the request fail with HTTP status 422 instead of triggering the review process by providing the `fail_on_approval_required` parameter set to `true` in the request.
      operationId: requestIPReservation
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: ip_reservation_request
        description: IP Reservation Request to create
        required: true
        schema:
          $ref: '#/definitions/IPReservationRequestInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/IPReservation'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /projects/{id}/licenses:
    get:
      tags:
      - Projects
      - Licenses
      summary: Retrieve all licenses
      description: Provides a collection of licenses for a given project.
      operationId: findProjectLicenses
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/LicenseList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    post:
      tags:
      - Projects
      - Licenses
      summary: Create a License
      description: Creates a new license for the given project
      operationId: createLicense
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: license
        description: License to create
        required: true
        schema:
          $ref: '#/definitions/LicenseCreateInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/License'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /licenses/{id}:
    get:
      tags:
      - Licenses
      summary: Retrieve a license
      description: Returns a license
      operationId: findLicenseById
      parameters:
      - name: id
        in: path
        description: License UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/License'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    put:
      tags:
      - Licenses
      summary: Update the license
      description: Updates the license.
      operationId: updateLicense
      parameters:
      - name: id
        in: path
        description: License UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: license
        description: License to update
        required: true
        schema:
          $ref: '#/definitions/LicenseUpdateInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/License'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
    delete:
      tags:
      - Licenses
      summary: Delete the license
      description: Deletes a license.
      operationId: deleteLicense
      parameters:
      - name: id
        in: path
        description: License UUID
        required: true
        type: string
        format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{project_id}/memberships:
    get:
      tags:
      - Projects
      - Memberships
      summary: Retrieve project memberships
      description: Returns all memberships in a project.
      operationId: findProjectMemberships
      parameters:
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      - name: project_id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/MembershipList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /memberships/{id}:
    get:
      tags:
      - Memberships
      summary: Retrieve a membership
      description: Returns a single membership.
      operationId: findMembershipById
      parameters:
      - name: id
        in: path
        description: Membership UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Membership'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    put:
      tags:
      - Memberships
      summary: Update the membership
      description: Updates the membership.
      operationId: updateMembership
      parameters:
      - name: id
        in: path
        description: Membership UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: membership
        description: Membership to update
        required: true
        schema:
          $ref: '#/definitions/MembershipInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Membership'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
    delete:
      tags:
      - Memberships
      summary: Delete the membership
      description: Deletes the membership.
      operationId: deleteMembership
      parameters:
      - name: id
        in: path
        description: Membership UUID
        required: true
        type: string
        format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{id}/customdata:
    get:
      tags:
      - Projects
      summary: Retrieve the custom metadata of a project
      description: Provides the custom metadata stored for this project in json format
      operationId: findProjectCustomdata
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /organizations/{id}/customdata:
    get:
      tags:
      - Organizations
      summary: Retrieve the custom metadata of an organization
      description: Provides the custom metadata stored for this organization in json format
      operationId: findOrganizationCustomdata
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /users/{id}/customdata:
    get:
      tags:
      - Users
      summary: Retrieve the custom metadata of a user
      description: Provides the custom metadata stored for this user in json format
      operationId: findUserCustomdata
      parameters:
      - name: id
        in: path
        description: User UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /devices/{id}/customdata:
    get:
      tags:
      - Devices
      summary: Retrieve the custom metadata of an instance
      description: Provides the custom metadata stored for this instance in json format
      operationId: findDeviceCustomdata
      parameters:
      - name: id
        in: path
        description: Instance UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /storage/{id}/customdata:
    get:
      tags:
      - Volumes
      summary: Retrieve the custom metadata of a storage volume
      description: Provides the custom metadata stored for this storage volume in json format
      operationId: findVolumeCustomdata
      parameters:
      - name: id
        in: path
        description: Storage Volume UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /projects/{project_id}/ips/{id}/customdata:
    get:
      tags:
      - Projects
      summary: Retrieve the custom metadata of an IP Reservation
      description: Provides the custom metadata stored for this IP Reservation in json format
      operationId: findIPReservationCustomdata
      parameters:
      - name: project_id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: id
        in: path
        description: Ip Reservation UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /devices/{instance_id}/ips/{id}/customdata:
    get:
      tags:
      - Devices
      summary: Retrieve the custom metadata of an IP Assignment
      description: Provides the custom metadata stored for this IP Assignment in json format
      operationId: findIPAssignmentCustomdata
      parameters:
      - name: instance_id
        in: path
        description: Instance UUID
        required: true
        type: string
        format: uuid
      - name: id
        in: path
        description: Ip Assignment UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /ips/{id}/customdata:
    get:
      tags:
      - IPAddresses
      summary: Retrieve the custom metadata of an IP Reservation or IP Assignment
      description: Provides the custom metadata stored for this IP Reservation or IP Assignment in json format
      operationId: findIPAddressCustomdata
      parameters:
      - name: id
        in: path
        description: Ip Reservation UUID
        required: true
        type: string
        format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /hardware-reservations/{id}/move:
    post:
      tags:
      - HardwareReservations
      summary: Move a hardware reservation
      description: Move a hardware reservation to another project
      parameters:
      - name: id
        in: path
        description: Hardware Reservation UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: project_id
        description: Project UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "201":
          description: ok
          schema:
            $ref: '#/definitions/HardwareReservation'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /organizations/{id}/operating-systems:
    get:
      tags:
      - OperatingSystems
      - Organizations
      summary: Retrieve all operating systems visible by the organization
      description: Returns a listing of available operating systems for the given organization
      operationId: findOperatingSystemsByOrganization
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/OperatingSystemList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /operating-systems:
    get:
      tags:
      - OperatingSystems
      summary: Retrieve all operating systems
      description: Provides a listing of available operating systems to provision your new device with.
      operationId: findOperatingSystems
      parameters: []
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/OperatingSystemList'
        "401":
          description: unauthorized
  /operating-system-versions:
    get:
      tags:
      - OperatingSystemVersions
      summary: Retrieve all operating system versions
      description: Provides a listing of available operating system versions.
      operationId: findOperatingSystemVersion
      parameters: []
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/OperatingSystemList'
        "401":
          description: unauthorized
  /organizations:
    get:
      tags:
      - Organizations
      summary: Retrieve all organizations
      description: Returns a list of organizations that are accessible to the current user.
      operationId: findOrganizations
      parameters:
      - name: personal
        in: query
        description: Include, exclude or show only personal organizations.
        required: false
        type: string
        enum:
        - include
        - exclude
        - only
      - name: without_projects
        in: query
        description: Include, exclude or show only organizations that have no projects.
        required: false
        type: string
        enum:
        - include
        - exclude
        - only
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/OrganizationList'
        "401":
          description: unauthorized
    post:
      tags:
      - Organizations
      summary: Create an organization
      description: Creates an organization.
      operationId: createOrganization
      parameters:
      - in: body
        name: organization
        description: Organization to create
        required: true
        schema:
          $ref: '#/definitions/OrganizationInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/Organization'
        "401":
          description: unauthorized
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /organizations/{id}:
    get:
      tags:
      - Organizations
      summary: Retrieve an organization's details
      description: Returns a single organization's details, if the user is authorized to view it.
      operationId: findOrganizationById
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Organization'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
    put:
      tags:
      - Organizations
      summary: Update the organization
      description: Updates the organization.
      operationId: updateOrganization
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: organization
        description: Organization to update
        required: true
        schema:
          $ref: '#/definitions/OrganizationInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/Organization'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
        "422":
          description: unprocessable entity
    delete:
      tags:
      - Organizations
      summary: Delete the organization
      description: Deletes the organization.
      operationId: deleteOrganization
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "404":
          description: not found
  /user/otp/recovery-codes:
    get:
      tags:
      - Otps
      summary: Retrieve my recovery codes
      description: Returns my recovery codes.
      operationId: findRecoveryCodes
      parameters: []
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/RecoveryCodeList'
        "401":
          description: unauthorized
        "404":
          description: not found
        "422":
          description: unprocessable entity
    post:
      tags:
      - Otps
      summary: Generate new recovery codes
      description: Generate a new set of recovery codes.
      operationId: regenerateCodes
      parameters: []
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/RecoveryCodeList'
        "401":
          description: unauthorized
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /user/otp/verify/{otp}:
    post:
      tags:
      - Otps
      summary: Verify user by providing an OTP
      description: It verifies the user once a valid OTP is provided. It gives back a session token, essentially logging in the user.
      operationId: findEnsureOtp
      parameters:
      - name: otp
        in: path
        description: OTP
        required: true
        type: string
      responses:
        "204":
          description: no content
        "400":
          description: bad request
        "401":
          description: unauthorized
  /user/otp/sms/receive:
    post:
      tags:
      - Otps
      summary: Receive an OTP per sms
      description: Sends an OTP to the user's mobile phone.
      operationId: receiveCodes
      parameters: []
      responses:
        "204":
          description: no content
        "400":
          description: bad request
        "401":
          description: unauthorized
        "422":
          description: unprocessable entity
        "500":
          description: internal server error
  /reset-password:
    post:
      tags:
      - PasswordResetTokens
      summary: Create a password reset token
      description: Creates a password reset token
      operationId: createPasswordResetToken
      parameters:
      - name: email
        in: query
        description: Email of user to create password reset token
        required: true
        type: string
      responses:
        "201":
          description: created
        "401":
          description: unauthorized
        "422":
          description: unprocessable entity
    delete:
      tags:
      - PasswordResetTokens
      summary: Reset current user password
      description: Resets current user password.
      operationId: resetPassword
      parameters: []
      responses:
        "201":
          description: ok
          schema:
            $ref: '#/definitions/NewPassword'
        "401":
          description: unauthorized
        "422":
          description: unprocessable entity
  /organizations/{id}/payment-methods:
    get:
      tags:
      - Organizations
      - PaymentMethods
      summary: Retrieve all payment methods of an organization
      description: Returns all payment methods of an organization.
      operationId: findOrganizationPaymentMethods
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      - name: page
        in: query
        description: page to display, default to 1, max 100_000
        required: false
        type: integer
      - name: per_page
        in: query
        description: items per page, default to 10, max 1_000
        required: false
        type: integer
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/PaymentMethodList'
        "401":
          description: unauthorized
        "404":
          description: not found
    post:
      tags:
      - Organizations
      - PaymentMethods
      summary: Create a payment method for the given organization
      description: Creates a payment method.
      operationId: createPaymentMethod
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: payment_method
        description: Payment Method to create
        required: true
        schema:
          $ref: '#/definitions/PaymentMethodCreateInput'
      responses:
        "201":
          description: created
          schema:
            $ref: '#/definitions/PaymentMethod'
        "401":
          description: unauthorized
        "404":
          description: not found
        "422":
          description: unprocessable entity
  /payment-methods/{id}:
    get:
      tags:
      - PaymentMethods
      summary: Retrieve a payment method
      description: Returns a payment method
      operationId: findPaymentMethodById
      parameters:
      - name: id
        in: path
        description: Payment Method UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/PaymentMethod'
        "401":
          description: unauthorized
        "404":
          description: not found
    put:
      tags:
      - PaymentMethods
      summary: Update the payment method
      description: Updates the payment method.
      operationId: updatePaymentMethod
      parameters:
      - name: id
        in: path
        description: Payment Method UUID
        required: true
        type: string
        format: uuid
      - in: body
        name: payment_method
        description: Payment Method to update
        required: true
        schema:
          $ref: '#/definitions/PaymentMethodUpdateInput'
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/PaymentMethod'
        "401":
          description: unauthorized
        "404":
          description: not found
        "422":
          description: unprocessable entity
    delete:
      tags:
      - PaymentMethods
      summary: Delete the payment method
      description: Deletes the payment method.
      operationId: deletePaymentMethod
      parameters:
      - name: id
        in: path
        description: Payment Method UUID
        required: true
        type: string
        format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
        "404":
          description: not found
  /plans:
    get:
      tags:
      - Plans
      summary: Retrieve all plans
      description: Provides a listing of available plans to provision your device on.
      operationId: findPlans
      parameters:
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/PlanList'
        "401":
          description: unauthorized
  /projects/{id}/plans:
    get:
      tags:
      - Plans
      - Projects
      summary: Retrieve all plans visible by the project
      description: Returns a listing of available plans for the given project
      operationId: findPlansByProject
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/PlanList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /organizations/{id}/plans:
    get:
      tags:
      - Plans
      - Organizations
      summary: Retrieve all plans visible by the organization
      description: Returns a listing of available plans for the given organization
      operationId: findPlansByOrganization
      parameters:
      - name: id
        in: path
        description: Organization UUID
        required: true
        type: string
        format: uuid
      - name: include
        in: query
        description: related attributes to include
        required: false
        type: string
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/PlanList'
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: not found
  /ports/{id}/assign:
    post:
      tags:
      - Ports
      summary: Assign a port to virtual network
      description: Assign a port for a hardware to virtual network.
      operationId: assignPort
      parameters:
      - name: id
        in: path
        description: Port UUID
        required: true
        type: string
[...]
